{% extends "layout2.html" %}


{% block content %}
    <script src="/vendor/jquery/jquery.min.js"></script>

	<div id="example-table-simple"></div>

	<p id="demo"></p>
	<style>#chart svg { height: 400px; }</style>
	<div id="chart"> <svg></svg> </div>

	<div id="season" style="height: 300px;"></div>


<script>
$jQ = jQuery.noConflict();
$jQ.getJSON( "/trend_pix_list", function( data ) {
	tabledata=data;

		$("#example-table-simple").tabulator({
			//height:"520px",
			fitColumns:true,
			pagination:true,
			paginationSize:10,
			data:tabledata,
			columns:[
			{title:"Brands", field:"brand", headerFilter:"input", width:220},
			{title:"Products", field:"category", headerFilter:"input", width:150},
			],
			rowClick:function(e, id, dt, row){
			//				alert("Row " + tabledata[id]['bid'] + " Clicked!!!!")
		
				var bid=tabledata[id]['bid']
		
			
				$jQ.getJSON( "/ctrend2/"+bid, function( data ) {
				
					//mygraph.setData(data);
					chartData.datum(data).transition().duration(500).call(chart);
					nv.utils.windowResize(chart.update);
		
		
				});
				
				$jQ.getJSON( "/pixnet_season/"+bid, function( data ) {
				
					season_graph.setData(data);
		
		
				});




			},
		});

		$(window).resize(function(){
			$("#example-table-simple").tabulator("redraw");
		});



//  alert(data);
});

</script>





<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css"/>
<script src="http://nvd3.org/assets/js/data/stream_layers.js"></script>


<script>
	var chart;
	var chartData;
	
	  nv.addGraph(function() {
		$jQ.getJSON( "/ctrend2/1", function( data ) {
		
	  	chart = nv.models.lineWithFocusChart()
		.x(function(d) {return d3.time.format("%Y-%m-%d").parse(d['date']);})
		.y(function (d) { return d.value; });
	
		//alert(data[0]['values'])
		  chart.xAxis.tickFormat(function(d) { return d3.time.format('%Y %b %d')(new Date(d)) });
		  chart.x2Axis.tickFormat(function(d) { return d3.time.format('%Y %b %d')(new Date(d)) });
	
		  chart.yAxis.tickFormat(d3.format(',.2f'));
	
		  chart.y2Axis.tickFormat(d3.format(',.2f'));
	
		  chartData = d3.select('#chart svg').datum(data);
		  chartData.transition().duration(500).call(chart);
	
		  nv.utils.windowResize(chart.update);
	
		});
		  return chart;
	  });

</script>




<script>
var season_graph;
$jQ.getJSON( "/pixnet_season/1", function( data ) {
	
	var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

	season_graph=new Morris.Line({
	// ID of the element in which to draw the chart.
 	element: "season",
 	// Chart data records -- each entry in this array corresponds to a point on
 	// the chart.
   	data,  // The name of the data record attribute that contains x-values.
   	xkey: 'dt',
  	// A list of names of data record attributes that contain y-values.
 	ykeys: ['mean','five','six','seven'],
 	// Labels for the ykeys -- will be displayed when you hover over the
 	// chart.
 	labels: ['Mean','2015','2016','2017'],
 	 
 	lineColors: ['red','purple','#2D9C2F','#1f77b4','#0b62a4'],
 	yLabelFormat: function (y) { return y.toString() + '%'; },
 	xLabelFormat: function (x) { return months[x.getMonth()]; }
	
	});
});
</script>


{% endblock %}



{% block jsblock %}
	<link rel="stylesheet" href="/jquery-ui.css">
	<link rel="stylesheet" href="/tabulator.css">

<script type="text/javascript" src="/jquery-ui.min.js"></script>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>


	<script type="text/javascript" src="/tabulator.js"></script>


<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>



{% endblock %}


